<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        .FMOG
        {
            position:absolute;
            right:0%;
            top:7%;
            z-index:-1;
        }
    </style>
        <title>@ViewBag.Title </title>
        @Styles.Render("~/bundle/css")
</head>
<body>
    @Html.Partial("_MainMenu")
    <div class="FMOG">
        <img src="~/Images/fork.png" height=200 />
    </div>

    @* TODO Put Boostrap Wrapper *@
    
    <div>
        @RenderBody()
    </div>


    @Scripts.Render("~/bundle/script")
</body>
</html>
