@{
    ViewBag.Title = "Index";
}

<h2>Settings</h2>

<p>Host : @Global.Host</p>
<p>Face Api Key : @Global.OxfordFaceApiKey</p>
<p>Emotion Api Key : @Global.OxfordEmotionApiKey</p>
<p>Person Group Id : @Global.OxfordPersonGroupId</p>
<p>Person picture path : @Global.PersonsDatabaseDirectory</p>

