@model AdaWebApp.Areas.Admin.ViewModels.UnavailabilityViewModel

@{
    ViewBag.Title = "CreateUnavailability";
}

<h2>Add an unavailability</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.StaffMemberId)

    <div class="form-horizontal">
        <h4>Unavailability</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="form-group">
                <div class="btn-group-vertical btn-block" data-toggle="buttons" id="durationOptions">
                    <button class="btn btn-primary btn-lg active">
                        @Html.RadioButtonFor(model => model.Duration, "5", new {autocomplete = "off", @checked = "checked" }) 5 minutes
                    </button>
                    <button class="btn btn-primary btn-lg">
                        @Html.RadioButtonFor(model => model.Duration, "10", new {autocomplete = "off"}) 10 minutes
                    </button>
                    <button class="btn btn-primary btn-lg">
                        @Html.RadioButtonFor(model => model.Duration, "15", new {autocomplete = "off"}) 15 minutes
                    </button>
                    <button class="btn btn-primary btn-lg">
                        @Html.RadioButtonFor(model => model.Duration, "20", new {autocomplete = "off"}) 20 minutes
                    </button>
                    <button class="btn btn-primary btn-lg">
                        @Html.RadioButtonFor(model => model.Duration, "25", new {autocomplete = "off"}) 25 minutes
                    </button>
                    <button class="btn btn-primary btn-lg">
                        @Html.RadioButtonFor(model => model.Duration, "30", new {autocomplete = "off"}) 30 minutes
                    </button>
                    <button class="btn btn-primary btn-lg" id="otherButton">
                        @Html.RadioButtonFor(model => model.Duration, "0", new {autocomplete = "off"}) Other
                    </button>
                    @Html.ValidationMessageFor(model => model.Duration, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group" id="collapseDate">
                <div class="well">
                    @Html.LabelFor(model => model.StarTime)

                    @Html.EditorFor(model => model.StarTime)

                    @Html.LabelFor(model => model.EndTime)

                    @Html.EditorFor(model => model.EndTime)
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to staff member", "Detail", "StaffMember", new { id = Model.StaffMemberId }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundle/unavailibility")
}
