@using AdaBridge
@using AdaWebApp.Helpers
@using PagedList.Mvc
@model PagedList.PagedList<AdaWebApp.Models.Entities.ProfilePicture>
@{
    ViewBag.Title = "Index";
}

<h2>Historic Pictures</h2>
<table class="table">
    <tr>
        <th>Gender</th>
        <th>Age</th>
        <th>Picture</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @item.Age
            </td>
            <td>
                <a href="@Url.Content(item.Uri)">
                    <img width="80" height="50" src="@Url.Content(item.Uri)"/>
                </a>
            </td>
            <td>
                @Html.ActionLink("View person", "Detail", "Person", new { id = item.Visit.PersonId }, null)
            </td>
        </tr>
    }
</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))