@using AdaWebApp.Helpers
@using PagedList.Mvc
@model  PagedList.IPagedList<AdaWebApp.Models.Entities.Visit>

@{
    ViewBag.Title = "Historic Log";
}

<h2>Historic Visits</h2>
<table class="table">
    <tr>
        <th>Date</th>
        <th>FirstName</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Picture</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <span class="convertutc" data-locationtime="@item.Date.ToString("dd/MM/yyyy hh:mm:ss tt");"></span>
            </td>
            <td>
                @(string.IsNullOrEmpty(item.Person.FirstName) ? "Unknown" : item.Person.FirstName)
            </td>
            <td>
                @item.Person.Gender
            </td>
            <td>
                @DateHelpers.ConvertDateOfBirthToAge(item.Person.DateOfBirth)
            </td>
            <td>
                @if (item.ProfilePictures.Any())
                {
                    <a href="@Url.Content(item.ProfilePictures.Last().Uri)">
                        <img width="80" height="50" src="@Url.Content(item.ProfilePictures.Last().Uri)" />
                    </a>
                }
                else
                {
                    <p>Corrupted profile</p>
                }
            </td>
            <td>
                @Html.ActionLink("View person", "Detail", "Person", new {id = item.PersonId}, null)
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
